
.carousel .slide img{
  height: 100vh;
}

@media screen and (max-width: 400px) {
  .carousel .slide img{
    height: 50vh;
  }
  
}

/* @media screen and (min-width: 800px) {
  .carousel .slide img{
    height: 80vh;
  }  
} */

.carousel .control-dots{
  display: none;
}

.carousel .slide img .half-img{
  /* height: 100vh; */
  width: 50%;
}

.text1 {
  font-size: 2.5rem;
  color: #b12f2f;
  text-transform: uppercase;
  font-weight: 700;
}

.text2 {
  font-size: 2.5rem;
  color: #2b3bb3;
  text-transform: uppercase;
  font-weight: 700;
}

.main--slider {
  display: flex;
  flex-direction: row;
}

.slider--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
}


.image--content {
  width: 50%;
  height: 100vh;
}

.carousel .thumbs-wrapper{
  display: none;
}
